body {
    text-align: center;
    background-image: url("../images/fondo.jpg");
}

.btn {
    font-family: 'Fortnite';
    margin-top: 1%;
    font-size: 180%;
}

.un-jugador {
    margin-top: 5%;
}

.titulo-juego {
    font-family: 'Fortnite';
    font-size: 400%;
}

.home {
    margin-top: 5%;
}

.opciones {
    margin-top: 2%;
}

.piedra, .papel, .tijera, .lagarto, .spock {
    margin-right: 5px;
    width:90px;
    height:90px;
    border-radius:50px;
    border:1px solid black;
}
