body {
    background-image: url("../images/fondo.jpg");
}

button {
    margin-top: 2%;
    border-radius:100px;
    border:3px solid black;
}

p {
    font-family: "Fortnite";
    font-size: 170%;
     
}

.tituloJugador1 {
    text-decoration: underline black;  
}

img {
    width: 150px;
    height: 150px;
}

.resultadoPartida {
    font-size: 400%;
}

.botonPiedra, .botonPiedraPc {
    margin-top: 20%;
    background-color: rgb(173, 239, 241);
}

.botonPiedraPc {
    opacity: 0.3;
}

.botonPapel, .botonPapelPc {
    background-color: lightgreen;
      
}

.botonPapelPc {
    opacity: 0.3;
}

.botonTijera, .botonTijeraPc {
    background-color: cornflowerblue;
}

.botonTijeraPc {
    opacity: 0.3;
}

.botonLagarto, .botonLagartoPc {
    background-color: rgb(214, 110, 40);
}

.botonLagartoPc {
    opacity: 0.3;
}

.botonSpock, .botonSpockPc {
    background-color: gold;
}

.botonSpockPc {
    opacity: 0.3;
}




